.todoForm {
    display: flex;
    flex-direction: column;
    background-color: rgb(68, 68, 68);
    padding: 1% 2%;
    border-radius: 8px;
    width: 20vw;
}

.todoForm * {
    margin: 0.25rem
}

.textInputField {
    border-radius: 5px;
}

.todoTitle {
    font-weight: 400;
    text-align: center;
    padding: 0.8vh 0;
}

.displayBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 1rem 0rem 0rem;
    width: 100%;
}

.todo_submit {
    width: 12%;
}